@use "sass:math";

// Color Pallette
$Snow-Flurry: #e2fcd6; // light yellow
$Teal: #14967f; // dark aqua
$Venice-Blue: #095d7e; // blue
$Pale-Blue-Lily: #ccecee; // light blue
$Zircon: #f1f9ff; // White?
$Title-Color: #1C7378;

// mixins
@mixin hover-darken($color, $important: false) {
    color: invert($color, 20%) if($important, !important, null);
}

html,
body {
    margin: 0;
    height: 100%;
}

.wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 1em;
    /* Height of footer */
    min-height: 100%;
}

.header {
    background-color: #cff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    background-color: #000;
}

/* Do not touch */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: $Teal !important;
}

/* Nav Bar */
.cps-logo {
    font-size: 36px;
    font-family: Arial;
    font-weight: bolder;
    color: $Snow-Flurry;
    padding-right: 1%;
    text-decoration: none;
}

.nav-list-content {
    width: max-content;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    font-family: Arial;
    font-weight: bolder;
    color: $Zircon !important;

    :hover {
        @include hover-darken($Zircon, true)
    }
}

/* Home page */
.title-text {
    font-size: 96px;
    font-family: Arial;
    font-weight: bolder;
    color: $Title-Color;
    padding-top: 15%;
}

.button-start {
    font-size: 36px;
    font-family: Arial;
    font-weight: bolder;
    width: fit-content;
    background-color: #FFC9B3;
    color: #fff;

    :hover {
        background-color: #ffa585;
        color: white
    }
}

/* Animation */
@keyframes slideInLeft {
    from {
        transform: translateX(-30%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(30%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.text-animate {
    animation: slideInLeft 0.75s ease-in-out;
}

.button-animate {
    animation: slideInRight 0.75s ease-in-out;
}

.prediction-color-header{
    color: $Venice-Blue;
}

#question {
    font-size: 30px;
    margin-bottom: 20px;
  }

